:root {
  --color-text: #333;
  --color-subtext: #666;
  --color-background: #fff;
  --color-border: #eaeaea;
  --color-primary: #3eaf7c;
  --color-primary-light: #e7faf0;
  --color-primary-dark: #2d9b6f;
}
